<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="GF2T.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <GF2T.Properties.Settings>
            <setting name="mainPosTop" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="mainPosLeft" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="ocrPosTop" serializeAs="String">
                <value>200</value>
            </setting>
            <setting name="ocrPosLeft" serializeAs="String">
                <value>200</value>
            </setting>
            <setting name="mainWidth" serializeAs="String">
                <value>400</value>
            </setting>
            <setting name="mainHeight" serializeAs="String">
                <value>300</value>
            </setting>
            <setting name="ocrWidth" serializeAs="String">
                <value>600</value>
            </setting>
            <setting name="ocrHeight" serializeAs="String">
                <value>150</value>
            </setting>
            <setting name="globalOpacity" serializeAs="String">
                <value>0.5</value>
            </setting>
            <setting name="hideOcrTool" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="hideOcrWindow" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="hideOriginalText" serializeAs="String">
                <value>True</value>
            </setting>
        </GF2T.Properties.Settings>
    </userSettings>
</configuration>